{% extends "base.html" %}
{% block content %} 
<!--
    id = db.Column(db.Integer, primary_key = True)
    first_name = db.Column(db.String(150))
    last_name = db.Column(db.String(150))
    chakra = db.Column(db.Integer)
    chakra_control = db.Column(db.Integer)
    speed = db.Column(db.Integer)
    strength = db.Column(db.Integer)
    character_img = db.Column(db.String(100))
    user_id = db.Column(db.Integer, db.ForeignKey("user.id"))
-->
    <h1 class="text-center">Character Creation</h1>
    <form method="POST">
        <h2>Character First Name:</h2>
        <textarea name="first_name" id="first_name" class="form-control"></textarea>
        <h2>Character Last Name:</h2>
        <textarea name="last_name" id="last_name" class="form-control"></textarea>
        <h2>Upload Character Picture:</h2>
        <textarea name="character_img" id="character_img" class="form-control"></textarea>
        <br/>
        <div class = "text-center">
            <button type="submit" class="btn btn-primary">
                Submit Post
            </button>
        </div>
    </form>
{% endblock %}